.markdown {
    position: relative;

    >ul {
        list-style: disc;
        border: 1px dashed #E4E4E4;
        padding: 15px 10px 15px 50px;
        color: #616161;
        margin-left: 0;
        border-radius: 10px;

        ul {
            border: none;
            padding: 15px 10px 15px 30px;
        }

        li {
            padding: 8px 0;
        }
    }

    >ol {
        list-style: decimal;
        border: 1px dashed #E4E4E4;
        padding: 15px 10px 15px 50px;
        color: #616161;
        margin-left: 0;
        border-radius: 10px;
        
        li {
            padding: 8px 0;
        }
    }

    h3 {
        border-bottom: 1px dashed #ddd;
    }

    code {
        background: rgba(254, 250, 199, 1);
        color: #E67474;
        word-break: break-word;
        padding: 2px;
        text-shadow: none;
        border-radius: 5px;
    }

    a {
        color: #e67474;
        text-decoration: underline dotted rgba(0, 0, 0, .1);
        transition: 0.2s all;
    }

    a:hover {
        color: orange;
        text-decoration: underline orange;
    }

    h1.entry-title {
        font-size: 24px;
        font-weight: 300;
    }

    p {
        color: #797979;
        line-height: 30px
    }
    
    hr {
        margin-top: 40px;
        margin-bottom: 40px;
        display: block;
        border: 0;
        text-align: center;
        background: 0 0;

        &::before {
            content: '...';
            display: inline-block;
            margin-left: .6em;
            color: rgba(0, 0, 0, .8);
            position: relative;
            top: -30px;
            font-size: 28px;
            letter-spacing: .6em;
        }
    }
    
    table {
        @table-color: #f2f2f2;

        border-collapse: collapse;
        width: 100%;
        border-radius: 5px;
        border: 0;

        th, td {
            padding: 24px;
            border-width: 1px 0;
            border-style: solid;
            border-color: @table-color;
            text-align: left;

            &:first-child {
                border-left: 1px solid @table-color;
            }

            &:last-child {
                border-right: 1px solid @table-color;
            }
        }

        th {
            background-color: @table-color;
        }

        tbody tr:hover {
            background-color: @table-color;
        }
    }

    div[class*=language-] {
        @top: 10px;
        @width: 30px;
        @line-height: 1.5;

        position: relative;
        background-color: #1d1f21;
        border-radius: 6px;

        .line-numbers {
            top: @top;
            width: @width;
            text-align: center;
            counter-reset: line-number;
            position: absolute;
            color: #888f96;
            line-height: @line-height;

            .line-number {

                &::before {
                    counter-increment: line-number;
                    content: counter(line-number);
                }
            }
        }

        pre[class*=language-] {
            padding: @top 0 @top @width + 10px;
            line-height: @line-height;
            font-family: inherit;

            code {
                font-family: inherit;
                font-size: 16px;
                background-color: transparent;
                color: #CCCCCC;
            }

            .token {
                .punctuation {
                    color: #CCCCCC;
                }

                .property,
                .tag {
                    color: #e45649;
                }

                .keyword {
                    color: #a626a4;
                }

                .number {
                    color: #d19a66;
                }

                .selector,
                .attr-name,
                .char
                .builtin
                .inserted {
                    color: #986801;
                }

                .atrule,
                .string,
                .attr-value {
                    color: #50a14f;
                }

                .function {
                    color: #61aeee;
                }
            }
        }
    }


}
